version: "3.9"

services:
  database:
    image: postgres
    container_name: db_naregua
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=nr123456
      - POSTGRES_DB=naregua
    volumes: 
      - pgdata:/data/postgres
  app:
    build: .
    container_name: naregua
    restart: always
    ports:
      - 3333:3333
    volumes: 
      - .:/usr/app
    links:
      - database
    depends_on: 
      - database


volumes: 
  pgdata:
    driver: local